:root {
  --primary-color: #007bff;
  --background-color: #f4f6f8;
  --text-color: #333;
  --accent-color: #17a2b8;
  --border-color: #ccc;
  --success-color: #28a745;
  --danger-color: #dc3545;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
/* right column */

/* Nav Bar styling */
.navbar {
  background-color: var(--primary-color);
  padding: 10px 0;
  border-bottom: 10px solid var(--border-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  text-decoration: none;
}

.navbar-items {
  display: flex;
}

.navbar-button {
  background: none;
  border: none;
  color: #007bff; /* Blue color, adjust as needed */
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
  font: inherit;
}


.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/* new task popup styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Invite popup */
.invite-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


/* notes CSS*/
.notes-list {
  display: flex; /* Use flex to arrange notes horizontally */
  flex-wrap: wrap; /* Allow notes to wrap to the next line if there's not enough space */
  justify-content: flex-start; /* Start from the left side */
  align-items: flex-start; /* Align notes to the top */
  padding: 10px; /* Add padding to separate notes */
  gap: 10px; /* Add a gap between notes */
}

.note.new {
	background-color: #67d7cc;
}

textarea {
	border: none;
	resize: none;
	background-color: #67d7cc;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
  flex: 1; /* Make each note equally share the available space */
  max-width: calc(33.33% - 20px); /* Adjust the width based on your layout (3 notes per row) */
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.notes {
  height: 500px; /* Set the height to match the calendar */
  width: 100%; /* Set the width to 100% to fill the available space */
  overflow: auto; /* Add scrollbars if content overflows */
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

/* left column */
/* Center the content vertically and horizontally */
.left-column {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  height: 100vh; /* Make the left column full height */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  padding-top: 20px; /* Add padding to the top */
}


/* TaskConnect title */
.task-connect-title {
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(45deg, #8e44ad, #3498db);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center; /* Center the text within its container */
  margin: 0; /* Remove default margin for h1 element */
  padding-bottom: 10px;
}
.task-connect-link {
  text-decoration: none; /* Remove underline */
}

/* search form */
.left-column .navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0;
}

/* black lines css */
.black-line-1, .black-line-2, .black-line-3, .black-line-4 {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* styling for specific black lines */
.black-line-1 {
  margin-top: 10px; 
  border: 2px solid black;
}


/* Toggle Mode button */
.dark-mode {
  background-color: black;
  color: whtie;
}


.toggle-modes {

  display: flex;
  justify-content: center;
  margin-top: 20px;
} 

.toggle-dark-mode {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.toggle-dark-mode.toggle-dark-mode {
  background-color: black;
}

.my-calendar-container {
  background-color: white; 
  color: black; 
}

.my-calendar-container.dark-mode {
  background-color: black; 
  color: white; 
}
